#backgroundbody
{
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 }

 p, h3, h4, h1 {
	text-align: justify;
	font-family: Garamond, serif;
}

 #containerparagrafo, #rigaparagrafo, #lead, #paragrafo, #colonna12 {
 background-color: #F5F5F5
 }

 #colonna12
 {width: 1600px;
  padding: 50px;
}

#par{
	font-size: 20px;
	}




	

																
